 @import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
:root {
  --accent: #7c3aed; /* violeta estilo Squart */
}
.text-accent {
  color: var(--accent);
}
.bg-accent {
  background: var(--accent);
}
